header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #eee;
  padding-bottom: 25px;
  background: #2b2c2c;
  padding: 0% 3%;
}

.navbar li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar li {
    margin: 0 10px;
  }
}

@media (min-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 3%;
  }
  .navbar li {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .highlightReel {
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .highlightReel {
    margin-bottom: 0;
  }
}
