.moviePage {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.movie-body {
  min-height: 600px;
}

.movieDetails {
  order: 1;
}

.sectionTitle {
  margin: 0;
}

.movieDescription {
  padding: 1%;
  border: 1px dotted #555;
}

.label {
  padding: 0.48em 0.4em 0.43em;
  font-size: 75.5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.6;
  vertical-align: baseline;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 0.3em;
}

.orange-red {
  background: #ff5722;
  color: #fff;
}

.detailsList {
  margin-top: 20px;
}

.detailsList li {
  margin-bottom: 10px;
}

.bold {
  font-weight: 600;
}

.poster {
  order: 2;
}

.posterImg {
  width: 100%;
  height: auto;
}

/*** Table Styles **/

table {
  margin: 2%;
  border: 1px solid black;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: 3% 2%;
  max-width: 600px;
  padding: 5px;
  width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 15px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom-: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.movie-loading-spinner {
  margin: 10% 42%;
}

@media (min-width: 768px) {
  .moviePage {
    flex-direction: row;
  }
  .movieDetails {
    flex: 2;
    order: 2;
  }
  .poster {
    flex: 1;
    order: 1;
    padding-right: 20px;
  }
  .posterImg {
    width: 300px;
    height: auto;
  }
}
